﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GEi, Inc Intranet</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>


            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Home/About">About</a></li>

                     @*dropdown Menu Start*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Expenses
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Expense/Index">Expense Client</a></li>
                            <li><a href="/Expense/Previous">Previous Expenses</a></li>

                        </ul>
                    </li>
                    @*dropdown Menu Expense End*@
                    @*dropdown Menu WO Start*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            IS Work Orders
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ISWorkOrder/Index">Create Work Order</a></li>
                            <li><a href="/ISWorkOrder/Admin">IS Admins</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Maintenece Work Orders
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/MaintenenceWorkOrder/Index">Create Work Order</a></li>
                            

                        </ul>
                    </li>
                     @*dropdown Menu WO End*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Charting
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Chart/Index">EXT Live Charts</a></li>
                            <li><a href="/Chart/OvenCycles">Oven Cycle Runs</a></li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Sales Reports
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Sales/Index">Sales Report Dashboard</a></li>
                        </ul>
                    </li>

                    @if (User.IsInRole("WkstAdmin"))
                    {
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    }


                </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>


            </div>
        </div>
    
    

      

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - General Extrusions, Inc. | For internal use only |</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")

    @Scripts.Render("~/bundles/jquery-ui")
    @RenderSection("scripts", required: false)
</body>
    </html>
