﻿@model ExpenseClient.ViewModels.ExpenseViewModel
    
    <div>

        <form id="myForm">
            <label>
                @Html.CheckBoxFor(m => m.Reimburse) Reimburse
            </label>            
           
            @Html.DropDownListFor(m => m.categoryid, new SelectList(Model.CategoryDropDownProperty, "CategoryID", "Categoryname"), "Select ID", new { @class = "form-control" })
            @Html.HiddenFor(m => m.categoryid)

            @Html.LabelFor(m => m.ExpenseDate)
            @Html.TextBoxFor(m => m.ExpenseDate, new { @class = "form-control" })

            @Html.LabelFor(m => m.Amount)
            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })

            @Html.LabelFor(m => m.Mileage)
            @Html.TextBoxFor(model => model.Mileage, new { @class = "form-control" })

            @Html.LabelFor(m => m.EmployeeNum)
            @Html.TextBoxFor(m => m.EmployeeNum, new { @class = "form-control" })

            @Html.LabelFor(m => m.Attendees)
            @Html.TextBoxFor(m => m.Attendees, new { @class = "form-control" })

            @Html.LabelFor(m => m.Place)
            @Html.TextBoxFor(m => m.Place, new { @class = "form-control" })

            @Html.LabelFor(m => m.PersonsEntertained)
            @Html.TextBoxFor(m => m.PersonsEntertained, new { @class = "form-control" })

            @Html.LabelFor(m => m.Purpose)
            @Html.TextBoxFor(m => m.Purpose, new { @class = "form-control" })

            @Html.HiddenFor(m => m.EmployeeName)
            @Html.HiddenFor(m => m.Line)
            @Html.HiddenFor(m => m.AccountNum)
            @Html.HiddenFor(m => m.Date)
            @Html.HiddenFor(m => m.Reimburse)
            @Html.HiddenFor(m => m.WeekEndDate)
            @Html.HiddenFor(m => m.AdvanceAmt)
            @Html.HiddenFor(m => m.CategoryDropDownProperty)

            <a href="#" id="btnSubmit" class="btn btn-success btn-block">
                @if (Model.Amount > 0)
                {<span>Update</span> }
                else
                {<span>Save</span>}
            </a>

        </form>

        <div style="text-align:center;display:none" id="loaderDiv">
           
        </div>

    </div>


    
    
<script>

    $(document).ready(function () {

    
        //Post action for Edit => no redirect from jQuery
        $("#btnSubmit").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Expense/Edit",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal1").modal("hide");
                    window.location.href = "/Expense/Index";

                }

            })
        })

   })


</script>
