﻿@model ExpenseClient.ViewModels.ExpenseViewModel
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div>

    <form id="myFormm">

        <!--Datepicker-->
        <p>Expense Date: <input type="text" id="datepicker"></p>

        <p>Select a date in format {MM:DD:YYYY}</p>
        <a href="#" id="btnSubmitt" class="btn btn-success btn-block">

            <span>Save</span>
        </a>
        @Html.HiddenFor(m => m.PersonsEntertained)
        @Html.HiddenFor(m => m.Attendees)
        @Html.HiddenFor(m => m.Amount)
        @Html.HiddenFor(m => m.Purpose)
        @Html.HiddenFor(m => m.Place)
        @Html.HiddenFor(m => m.Mileage)
        @Html.HiddenFor(m => m.EmployeeNum)
        @Html.HiddenFor(m => m.categoryid)
        @Html.HiddenFor(m => m.ExpenseDate)
        @Html.HiddenFor(m => m.EmployeeName)
        @Html.HiddenFor(m => m.Line)
        @Html.HiddenFor(m => m.AccountNum)
        @Html.HiddenFor(m => m.Date)
        @Html.HiddenFor(m => m.Reimburse)
        @Html.HiddenFor(m => m.WeekEndDate)
        @Html.HiddenFor(m => m.AdvanceAmt)
        @Html.HiddenFor(m => m.CategoryDropDownProperty)
    </form>
    <div style="text-align:center;display:none" id="loaderDivv">

    </div>
</div>

<script>

   
        //POST date to controller and load datatable
        $("#btnSubmitt").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myFormm").serialize();
            var enddate = $('#datepicker').datepicker('getDate').toDateString($.datepicker.formatDate('MM/DD/YYYY', new Date()));
           
            $.ajax({
                type: "GET",
                url: "@Url.Action("Populate", "Expense")" + "?time=" + enddate,
                data: enddate,
                success: function (response) {
                    BindMe(response);
                    $("#loaderDivv").hide();
                    $("#myModal2").modal("hide");
                    window.location.href = "/Expense/Previous#";
                    
                }

            })
        })

    //Setting default options for datepicker
    $(function () {
        $("#datepicker").datepicker({
            showOn: "both",
            changeMonth: true,
            changeYear: true


        })



    });
    


</script>