﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "MealError";
}


<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3 class="text-danger">Please refer to the table below to see the maximum dining cost per attendee.</h3>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Meal</th>
            <th>Limit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Breakfast</td>
            <td>$10.00 / person</td>
        </tr>
        <tr>
            <td>Lunch</td>
            <td>$15.00 / person</td>
        </tr>
        <tr>
            <td>Dinner</td>
            <td>$25.00 / person</td>
        </tr>
    </tbody>
</table>
<h3 class="text-info">Please navigate back to your form to correct any mistakes before re-submitting.</h3>
