﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "PhoneError";
}


<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3 class="text-danger">Cell Phone usage cannot exceed $125.00.</h3>
<h3 class="text-info">Please navigate back to your form to correct any mistakes before re-submitting.</h3>

