﻿

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<div>

    <form id="MyForm">

        <!--Datepicker-->
        <p>Expense Date: <input type="text" id="datepicker"></p>

        <p>Select a date in format {MM:DD:YYYY}</p>
        <a href="#" id="BtnSubmit" class="btn btn-success btn-block">

            <span>Save</span>
        </a>
     
    </form>
    <div style="text-align:center;display:none" id="LoaderDiv">

    </div>
</div>

<script>


        //POST date to controller and load ReturnReport
        $("#BtnSubmit").click(function () {

            $("#LoaderDiv").show();

            var myformdata = $("#MyForm").serialize();
            var enddate = $('#datepicker').datepicker('getDate').toDateString($.datepicker.formatDate('MM/DD/YYYY', new Date()));

            $.ajax({
                type: "GET",
                url: "@Url.Action("ReturnReport", "ExpenseReporting")" + "?time=" + enddate,
                data: enddate,
                success: function () {                   
                    $("#LoaderDiv").hide();
                    $("#myModal3").modal("hide");
                    window.location.href = "/ExpenseReporting/ReturnReport" + "?time=" + enddate;

                }

            })
        })

    //Setting defaults for datepicker control
    $(function () {
        $("#datepicker").datepicker({
            showOn: "both",
            changeMonth: true,
            changeYear: true


        })



    });



</script>
