﻿@model ExpenseClient.ViewModels.WorkOrderViewModel
<div>

    <form id="Form">
        @Html.LabelFor(m => m.CategoryDropDown)
        @Html.DropDownListFor(m => m.category, new SelectList(Model.CategoryDropDown, "Category", "Category"), "Select Category", new { @class = "form-control" })

        @Html.LabelFor(m => m.UrgencyDropDown)
        @Html.DropDownListFor(m => m.Importance, new SelectList(Model.UrgencyDropDown, "Urgency", "Urgency"), "Select Urgency", new { @class = "form-control" })
        
        @Html.LabelFor(m => m.MachineName)
        @Html.TextBoxFor(m => m.MachineName, new { @class = "form-control" })   

        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
    
        @Html.LabelFor(m => m.Status)
        @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
        {
            new SelectListItem{ Text = "Open"},
            new SelectListItem{ Text = "Closed"},

        }, new { @class = "form-control" })

        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, 10, 40, htmlAttributes: new { style = "width: 100%; max-width: 100%;", @class = "form-control", @Value = "Enter description of issue here..." })
        @Html.LabelFor(m => m.ISComments)
        @Html.TextAreaFor(m => m.ISComments, 10, 40, htmlAttributes: new { style = "width: 100%; max-width: 100%;", @class = "form-control" })
        @Html.HiddenFor(m => m.WorkOrderNumber)
        @Html.HiddenFor(m => m.DueDate)
        @Html.HiddenFor(m => m.Username)
        @Html.HiddenFor(m => m.StatusDate)
               
        <a href="#" id="ButtonSubmit" class="btn btn-success btn-block">
            <span>Update</span>

        </a>

    </form>


    <div style="text-align:center;display:none" id="loaderDivider">

    </div>

</div>




<script>

    $(document).ready(function () {


        //Post action for Edit => no redirect from jQuery
        $("#ButtonSubmit").click(function () {

            $("#loaderDivider").show();

            var myformdata = $("#Form").serialize();

            $.ajax({
                type: "POST",
                url: "/WorkOrder/Edit",
                data: myformdata,
                success: function () {
                    $("#loaderDivider").hide();
                    $("#myModal11").modal("hide");
                    window.location.href = "/WorkOrder/Admin";

                }

            })
        })

    })


</script>
