﻿
@{
    ViewBag.Title = "Asynchronous Press Charting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    
    
    <style>
        .chartContainer {
            width: 550px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 30px;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .containerr {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        #wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
    <script>
        window.onload = function () {

            var pressureData = [];
            var exitData = [];
            var ovenAData = [];
            var ovenBData = [];

            updatePressure(); //Initialize
            updateExit();
            fillOvenA();
            fillOvenB();


            function updatePressure() {     //EXT PRESSURE UPDATE
                $.getJSON("/chart/EXTPRESSURE", pressureCallBack);


            };

            function updateExit() {    //PRESS EXIT UPDATE
                $.getJSON("/chart/PRESSEXIT", exitCallBack);

            };

            function fillOvenA() {      //OVEN A UPDATE
                $.getJSON("/chart/OvenAJSON", ovenACallBack);
            };

            function fillOvenB() {      //OVEN B UPDATE
                $.getJSON("/chart/OvenBJSON", ovenBCallBack);
            };

            function pressureCallBack(data) {   //EXT PRESSURE CALLBACK
                pressureData = data;
                addPressurePoints(chart, pressureData);
            }

            function exitCallBack(data) {       //PRESS EXIT CALLBACK
                exitData = data;
                addExitPoints(chart2, exitData);
            }

            function ovenACallBack(data) {  //OVEN A CALLBACK
                ovenAData = data;
                addOvenAData(chart3, ovenAData);
            }

            function ovenBCallBack(data) {  //OVEN B CALLBACK
                ovenBData = data;
                addOvenBData(chart4, ovenBData);
            }

            function addPressurePoints(chart, data) {     //EXT PRESSURE ADD - 30s Timeout
                chart.reset();
                chart.data.datasets[0].data = data;
                chart.update();
                setTimeout(updatePressure, 30000);
            };

            function addExitPoints(chart, data) {    //PRESS EXIT ADD - 30s Timeout
                chart.reset();
                chart.data.datasets[0].data = data;
                chart.update();
                setTimeout(updateExit, 30000);
            };

            function addOvenAData(chart, data) {    //OVEN A ADD - 30s Timeout

                chart.reset();
                chart.data.datasets[0].data = [{ x: data[0].y, y: data[0].x }];
                chart.data.datasets[1].data = [{ x: data[1].y, y: data[1].x }];
                chart.update();
                setTimeout(fillOvenA, 30000);
            };
            function addOvenBData(chart, data) {    //OVEN B ADD - 30s Timeout

                chart.reset();
                chart.data.datasets[0].data = [{ x: data[0].y }];
                chart.data.datasets[1].data = [{ x: data[1].y }];
                chart.update();
                setTimeout(fillOvenB, 30000);
            };

            var ctxx = document.getElementById('myCycleChart').getContext('2d');
            var ctx = document.getElementById('myChart').getContext('2d');
            var ovenACtx = document.getElementById('ovenAChart').getContext('2d');
            var ovenBCtx = document.getElementById('ovenBChart').getContext('2d');

            var chart4 = new Chart(ovenBCtx, {      //Oven B
                type: 'horizontalBar',
                data: {
                    datasets: [{
                        label: 'Zone1B',
                        backgroundColor: 'rgba(164, 222, 229, 1)',
                        data: ovenBData
                    }, {
                        label: 'Zone2B',
                        backgroundColor: 'rgba(130, 60, 200, 1)',
                        data: ovenBData
                    }
                    ]
                },
                labels: [],
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var chart3 = new Chart(ovenACtx, {      //Oven A
                type: 'horizontalBar',
                data: {
                    datasets: [{
                        label: 'Zone1A',
                        backgroundColor: 'rgba(164, 222, 229, 1)',
                        data: ovenAData,
                    }, {
                        label: 'Zone2A',
                        backgroundColor: 'rgba(130, 60, 200, 1)',
                        data: ovenAData
                    }
                    ]
                },
                labels: [],
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var chart2 = new Chart(ctxx, {      //Press Exit
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Press Exit',
                        backgroundColor: 'rgba(183, 230, 235, 1)',
                        borderColor: 'rgba(130, 60, 200, 1)', //'rgba(164, 222, 229, 1)',
                        data: exitData
                    }]
                },
                labels: [],
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: { unit: 'minute' }

                        }]
                    },
                    elements: {
                        point: {
                            pointStyle: 'rectRounded'
                        }
                    }
                }
            });
            var chart = new Chart(ctx, {           //EXT PRESSURE
                type: 'line',
                // The data for our dataset
                data: {
                    datasets: [{
                        label: 'EXT Pressure',
                        backgroundColor: 'rgba(183, 230, 235, 1)',
                        borderColor: 'rgba(130, 60, 200, 1)', //rgba(130, 60, 200, 1)
                        pointBackgroundColor: 'rgba(164, 222, 229, 1)',
                        data: pressureData
                    }]
                },
                labels: [],
                // Configuration options go here
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: { unit: 'minute' }

                        }]
                    },
                    elements: {
                        point: {
                            pointStyle: 'rectRounded'
                        }
                    }
                }
            });

        };

        function dropDown() {
            $('#hidden').show();

        }

        

    </script>



</head>
<body>
    
    @*<div class="page-header">
        <div class="content">
            <img src="~/Site Content/geiBrandBoot.png" style="text-align: center;" alt="GEI" />
            <h2>Real-Time Charting</h2>
            
        </div>
    </div>*@
    <div class="containerr" style="margin-top: 10px;">
        
        <div class="chartContainer" style="border-style: outset; border-color: cornflowerblue;">
            <h3 style="text-align: center;"><strong>EXT PRESSURE</strong></h3>
            <canvas id="myChart"></canvas>

        </div>
            
        <div class="chartContainer" style="border-style: outset; border-color: cornflowerblue;">
            <h3 style="text-align: center;"><strong>Press Exit</strong></h3>
            <canvas id="myCycleChart"></canvas>
        </div>
            
        <div class="chartContainer" style="border-style: outset; border-color: cornflowerblue;">
            <h3 style="text-align: center;"><strong>OVEN A</strong></h3>
            <canvas id="ovenAChart"></canvas>
        </div>
        <div class="chartContainer" style="border-style: outset; border-color: cornflowerblue;">
            <h3 style="text-align: center;"><strong>OVEN B</strong></h3>
            <canvas id="ovenBChart"></canvas>
        </div>
                          
    </div>
    <div class="container">
        
        <div id="wrapper">
            
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" style="margin-right: 10px;"><span class="glyphicon glyphicon-menu-left"></span></button>
                <button type="button" onclick="location.href = '/Chart/Index';" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span></button>
                <button type="button" class="btn btn-secondary" style="margin-left: 10px;"><span class="glyphicon glyphicon-menu-right"></span></button>
            </div>
        </div>
        
        <button class="btn btn-primary" type="button" onclick="dropDown()">
            Announcements <span class="badge">4</span>
        </button>
        
        <div class="hidden" id="hidden">
            <div class="well">
                <h6>Hello this is my first announcement</h6>
            </div>
        </div>
        
                
    </div>
    
</body>
</html>

