﻿@model ExpenseClient.ViewModels.OvenViewModel
@{
    ViewBag.Title = "Oven Cycles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>ChartJS Test</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
        <style>
            .chartContainer {
                width: 550px;  
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 30px;
                margin-top: 30px;
            }

            canvas {
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }

            .containerr {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        </style>
    </head>
    <body>
        <div class="page-header">
            <div class="content">
               
                

            </div>
        </div>
        <div class="container">
            <div class="col-sm-5">
                @Html.LabelFor(m => m.cycleDropDownProperty)
                @Html.DropDownListFor(m => m.CycleNum, new SelectList(Model.cycleDropDownProperty, "cycleNum", "cycleNum"), "Select Cycle for Oven A", new { @id = "a", @class = "form-control" })
                <button type="submit" onclick="updateData()" class="btn btn-primary" style="width: 280px; margin-top: 10px;">Generate Chart &raquo;</button>
            </div>
            <div class="col-sm-offset-9">
                @Html.LabelFor(m => m.ovenBCycleDropDownProperty)
                @Html.DropDownListFor(m => m.CycleNumm, new SelectList(Model.ovenBCycleDropDownProperty, "cycleNumm", "cycleNumm"), "Select Cycle for Oven B", new { @id = "b", @class = "form-control" })
                <button type="submit" onclick="updateBData()" class="btn btn-primary" style="width: 280px; margin-top: 10px;">Generate Chart &raquo;</button>
            </div>
        </div>

        <div class="container">
            <div class="containerr">
                <div class="chartContainer" style="border: outset;">
                    <h3 style="text-align: center;"><strong>Oven A</strong></h3>
                    <canvas id="myChart"></canvas>
                </div>
            
            
                <div class="chartContainer" style="border: outset;">
                    <h3 style="text-align: center;"><strong>Oven B</strong></h3>
                    <canvas id="OvenB"></canvas>
                </div>
            </div>
        </div>

        <script>
            
            var dataa = [];
            var dataaa = [];
            var ovenbdata = [];
            var ovenbdataa = [];

            function updateBData() {
                var cycleNum = document.getElementById('b').value;

                jQuery.ajax({
                    type: "POST",
                    url: "/chart/CycleZone1B",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ input: cycleNum }),
                    success: function (data) {
                        //alert("success");
                        updateBData2();
                        callbackOvenB(data);
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            };

            function updateBData2() {
                var cycleNumm = document.getElementById('b').value;

                jQuery.ajax({
                    type: "POST",
                    url: "/chart/CycleZone2B",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ input: cycleNumm }),
                    success: function (data) {
                        //alert("success");                        
                        callBackOvenB(data);
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
            
            function updateData() {  //OVEN A - Zone1

                var Cycle = document.getElementById('a').value;

                jQuery.ajax({
                    type: "POST",
                    url: "/chart/CycleZone1A",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ input: Cycle }),
                    success: function (data) {
                        //alert("success");
                        updateData2();
                        callbackFuncWithData(data);
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });

            };

            function updateData2() {    //OVEN A - Zone2
                var cycle = document.getElementById('a').value;

                 jQuery.ajax({
                    type: "POST",
                    url: "/chart/CycleZone2A",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ input: cycle }),
                    success: function (data) {
                        //alert("success");
                        callback(data);
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            };
            function callbackOvenB(data) {
                ovenbdata = data;
                ovenBDataPointsZone1(chart2, ovenbdata);
            }

            function callBackOvenB(data) {
                ovenbdataa = data;
                ovenBDataPointsZone2(chart2, ovenbdataa);
            }

            function ovenBDataPointsZone1(chart, data) {
                chart.data.datasets[0].data = data;
                chart.update();
            }

            function ovenBDataPointsZone2(chart, data) {
                chart.data.datasets[1].data = data;
                chart.update();
            }

            function callbackFuncWithData(data) {
                dataa = data;
                addDataPoints(chart, dataa);
            }

            function callback(data) {
                dataaa = data;
                addDataPoints2(chart, dataaa);
            }

            function addDataPoints(chart, data) {

                chart.data.datasets[0].data = data;
                chart.update();
                
            };

            function addDataPoints2(chart, data) {

                chart.data.datasets[1].data = data;
                chart.update();
                
            };

            var ctx = document.getElementById('myChart').getContext('2d');
            var ctxx = document.getElementById('OvenB').getContext('2d');

            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    datasets: [{
                        label: 'Zone1',
                       // backgroundColor: 'rgba(183, 230, 235, 1)',
                        borderColor: 'rgba(77, 181, 59, 1)',
                        data: dataa
                    }, {
                        label: 'Zone2',
                        borderColor: 'rgba(23, 14, 196, 1)', //'rgba(183, 230, 235, 1)',
                        data: dataaa

                       }
                    ]
                },
                labels: [],
                // Configuration options go here
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: { unit: 'minute' }

                        }]
                    }
                }
            });

            var chart2 = new Chart(ctxx, {                
                type: 'line',               
                data: {
                    datasets: [{
                        label: 'Zone1',
                       // backgroundColor: 'rgba(183, 230, 235, 1)',
                        borderColor: 'rgba(77, 181, 59, 1)', //rgba(130, 60, 200, 1)',
                        data: ovenbdata
                    }, {
                        label: 'Zone2',
                        borderColor: 'rgba(23, 14, 196, 1)', //'rgba(183, 230, 235, 1)',
                        data: ovenbdataa

                       }
                    ]
                },
                labels: [],
                // Configuration options go here
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: { unit: 'minute' }

                        }]
                    }
                }
            });

            

        </script>
    </body>

