﻿@model ExpenseClient.ViewModels.OvenViewModel
@{
    ViewBag.Title = "Ovens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>

    <script>
         window.onload = function () {

            // Initial Values            
             dataPoints = []; //Oven A
             dataSeries = []; // Oven B
             dataSeriess = []; // Cycle run - Zone1A
             dataSeriesss = []; // Cycle run - Zone2A

             var dataLength = 75; // number of dataPoints visible at any point

             var chart = new CanvasJS.Chart("chartContainer", { //Oven A
                 animationEnabled: true,
                 theme: "light2",
                 title: {
                     text: "Oven A"
                 },       
                 legend: {
                     horizontalAlign: "center",
                     verticalAlign: "top",
                     fontSize: 10
                 },                 
                 data: [{
                     type: "doughnut", 
                     cursor: "crosshair",
                     showInLegend: true,
                     indexLabelFontColor: "#00008B",
                     indexLabelFontSize: 16,
                     dataPoints: dataPoints
                    
                 }]
                
             });

             updateData();

             var chart2 = new CanvasJS.Chart("chartContainer2", { //Oven B
                 animationEnabled: true,
                 theme: "light2",
                 title: {
                     text: "Oven B"
                 },   
                 legend: {
                     horizontalAlign: "center",
                     verticalAlign: "top",
                     fontSize: 10
                 },
                 data: [{
                     type: "doughnut",   
                     cursor: "crosshair",
                     showInLegend: true,                     
                     indexLabelFontColor: "#00008B",
                     indexLabelFontSize: 16,
                     dataPoints: dataSeries
                    
                 }]
                
             });

             updateData2();

             var chart3 = new CanvasJS.Chart("chartContainer3", { //Cycle run
                 animationEnabled: true,
                 theme: "light2",
                 title: {
                     text: "Cycle x run"
                 },
                 data: [{
                     type: "splineArea",
                     xValueType: "dateTime",
                     cursor: "crosshair",
                     //color: "#00008B",
                     name: "Zone1A",
                     showInLegend: true,
                     dataPoints: dataSeriess
                         

                 },
                 {
                     type: "line",
                     xValueType: "dateTime",
                     cursor: "crosshair",
                     color: "#03fc94",
                     name: "Zone2A",
                     showInLegend: true,
                     dataPoints: dataSeriesss
                 },
                 ]
             });

             updateData3();

             function addData(data) { //Oven A

                $.each(data, function (key, value) {
                    
                    chart.data = [];
                    chart.data = dataPoints;
                    chart.options.data[0].dataPoints[0] = { name: "Zone1A", label: data[0].y, y: data[0].y };
                    chart.options.data[0].dataPoints[1] = { name: "Zone2A", label: data[1].y, y: data[1].y };
                    
                });
             
                chart.render();
                setTimeout(updateData, 60000);

             }

             function addData2(data) { //Oven B

                $.each(data, function (key, value) {
                    chart2.data = [];
                    chart2.data = dataPoints;                    
                    chart2.options.data[0].dataPoints[0] = { name: "Zone1B", label: data[0].y, y: data[0].y };
                    chart2.options.data[0].dataPoints[1] = { name: "Zone2B", label: data[1].y, y: data[1].y };
                    
                });
             
                chart2.render();
                setTimeout(updateData2, 60000);

             }

             function addData3(data) { //Cycle run

                $.each(data, function (key, value) {
                    chart3.data = [];
                    chart3.data = dataPoints;
                    dataSeriess.push({ x: value.x, y: parseFloat(value.y) });
                    dataSeriesss.push({ x: value.x, y: parseFloat(value.y) });
                });             
                chart3.render();
                
             }
            
             function updateData() {            //Oven A                
                $.getJSON("/chart/OvenJSON", addData);                
             }    

             function updateData2() {           //Oven B     
                $.getJSON("/chart/Oven2JSON", addData2);                
             }    

             function updateData3() {           //Cycle run    
                $.getJSON("/chart/CycleJSON", addData3);                
             } 
                        
         }
        
    </script>
</head>
<body>

    <div class="page-header">
        <div class="content">
            @*@using (Html.BeginForm("Ovens", "Chart"))
             {
                @Html.LabelFor(m => m.cycleDropDownProperty)
                @Html.DropDownListFor(m => m.CycleNum, new SelectList(Model.cycleDropDownProperty), "Select Cycle", new {  @class = "form-control" })
                    
             }*@


        </div>
    </div>
    <div class="container">
        <div class="content" style="justify-content: center;">

            <div id="chartContainer" style="height: 250px; width: 250px;">

            </div>
            <div id="chartContainer2" style="height: 250px; width: 250px; padding-left: 25px;">

            </div>
        </div>
        <div class="container" style="padding-top: 50px;">
            <div id="chartContainer3" style="height: 350px; width: 100%;">

            </div>
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/canvasjs.min.js"></script>
    </div>
</body>
</html>

