﻿@model ExpenseClient.ViewModels.MaintWorkOrderViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="content">
        <img src="~/Site Content/geiBrandBoot.png" alt="GEI" />
        <h3 style="text-align: left; color: blue">Maintenence Work Orders</h3>
    </div>

</div>

@using (Html.BeginForm("Index", "MaintenenceWorkOrder"))
{

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.UrgencyDropDown)
                @Html.DropDownListFor(m => m.Importance, new SelectList(Model.UrgencyDropDown, "Urgency", "Urgency"), "Select Category", new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.MachineDropDown)
                @Html.DropDownListFor(m => m.machineID, new SelectList(Model.MachineDropDown, "MachineID", "Machine"), "Select Machine", new { @class = "form-control" })
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.Date)
                @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.DeptDropDown)
                @Html.DropDownListFor(m => m.DepartmentNum, new SelectList(Model.DeptDropDown, "DeptID", "Dept"), "Select Department", new { @class = "form-control" })
            </div>
            
            @Html.HiddenFor(m => m.Username)
            @Html.HiddenFor(m => m.Status)
        </div>
        <br />
        <div class="row">

            <div class="col-sm-8">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, 10, 40, htmlAttributes: new { style = "width: 100%; max-width: 100%;", @class = "form-control", @Value = "Enter description of issue here..." })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-block" style="width: 280px;">Submit &raquo;</button>

            </div>
        </div>
    </div>

}