﻿@model  ExpenseClient.ViewModels.SalesViewModel

@{
    ViewBag.Title = "Sales Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ReportViewerForMvc;

<div class="page-header">
    <div class="content">
        <h4>To get started please select a report & promise date</h4>
    </div>
</div>


@using (Html.BeginForm("Router", "Sales"))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @Html.LabelFor(m => m.salesDropDownProperty)
                @Html.DropDownListFor(m => m.report, new SelectList(Model.salesDropDownProperty, "selected", "selected"), "Select Item", new { @class="form-control" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.PromiseDateBegin)
                @Html.TextBoxFor(m => m.PromiseDateBegin, new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                @Html.LabelFor(m => m.PromiseDateEnd)
                @Html.TextBoxFor(m => m.PromiseDateEnd, new { @class = "form-control" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(m => m.CustomerNumber)
                @Html.TextBoxFor(m => m.CustomerNumber, new { @class = "form-control" })
            </div>
            <div class="col-sm-2" style="padding-top: 24px;">
                <button type="submit" class="btn btn-primary">Submit &raquo;</button> 
            </div>
        </div>
    </div>
}


<script>
    
</script>

