﻿@model ExpenseClient.ViewModels.SalesViewModel
@{
    ViewBag.Title = "SalesByCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ReportViewerForMvc;

<div class="page-header">
    <div class="content">

    </div>
</div>

<div class="container">

    <div id="reportView" class="table-responsive">
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "no", width = "50%" })
    </div>
</div>

