﻿@model ExpenseClient.ViewModels.InventoryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <div class="content">
        
    </div>
</div>
<div class="container">
   


</div>

