﻿@model ExpenseClient.ViewModels.WorkOrderViewModel
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Open Work Orders:</h2>

<!--jQuery Datatables with inline button and jQuery scripts to execute CRUD-->
<div style="width:100%; margin:0 auto;">
    <table id="Mytable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                
                @*<th>Date</th>*@
                <th>Submitter</th>             
                <th>Machine name</th>
                <th>Category</th>
                <th>Urgency</th>
                <th>Description</th>
                <th>Status</th>
                <th>Edit</th>
              
            </tr>
        </thead>
    </table>
</div>

<!--Modal11 pop-up which contains Partial1 form for Editing and submitting-->
<div class="modal fade in" id="myModal11">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Edit WO</h3>
            </div>

            <div class="modal-body" id="myModalBodyDiv11">





            </div>


        </div>

    </div>

</div>

@section Scripts{

    <script>
        //GET data for jQuery Datatables
        $(document).ready(function () {

            GetRecords();
        })
        //GET data for jQuery Datatables
        var GetRecords = function () {

            $.ajax({

                type: "Get",
                url: "/ISWorkOrder/LoadData",
                success: function (response) {

                    BindTable(response);

                }
            })

        }
        //Fill Datatable with JSON response
        var BindTable = function (response) {

            $('#Mytable').DataTable({
                "data": response,
                "columns": [
                    
                    //{ "data": "Date", "autoWidth": true },
                    { "data": "Username", "autoWidth": true },                    
                    { "data": "Comp_Name", "autoWidth": true },
                    { "data": "category", "autoWidth": true },
                    { "data": "Importance", "autoWidth": true },
                    { "data": "Description", "autoWidth": true },
                    { "data": "Status", "autoWidth": true },                    
                    {
                        "data": "WorkOrderNumber",
                        "render": function (WorkOrderNumber, type, full, meta) {
                            return '<a class="btn btn-info" onclick="EditOrder(' + WorkOrderNumber + ')">Edit</a>';
                        }

                    },
                    
                ],

            });
        }
        //Execute edit, displays Modal1
        var EditOrder = function (workordernumber) {

            var url = "/ISWorkOrder/EditOrder?wo=" + workordernumber;

            $("#myModalBodyDiv11").load(url, function () {

                $("#myModal11").modal({ show: true });


            })

        }
    </script>

}


