﻿@{
    ViewBag.Title = "About";
}
    

<div class="page-header">
    <div class="content">
        @*<img src="~/Site Content/geiBrandBoot.png" style="text-align: center;" alt="GEI" />*@

    </div>
</div>

<div class="container">
    <div class="well">
        <strong style="color: black;">For any issues regarding GEI Intranet, please contact the system administrator:</strong><br />
        <strong style="color: blue">Thomas Barrett</strong><br />
        <strong style="color: blue">IT Analyst</strong><br />
        <strong style="color: blue">EXT. 239</strong><br />

    </div>
    @*<div class="well" style="padding-left: 3px; padding-right: 3px;">
            <div class="content">
                <img src="~/Site Content/Stay Connected!.png" alt="GEI" />
                <img src="~/Site Content/IS Work Order.jpg" width="560" height="315" alt="GEI" />
            </div>
        </div>*@

</div>


