﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .accordion 
    {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover 
    {
        background-color: #ccc;
    }

    .panel 
    {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }

</style>

<div class="page-header">
    <div class="content">
        @*<img src="~/Site Content/geiBrandBoot.png" style="text-align: center;" alt="GEI" />*@
        @*<h2>Welcome to GEi Intranet</h2>*@
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<div class="container">

    <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Site Content/Stay Connected!.png" width="750">
                    </div>

                    <div class="item">
                        <img src="~/Site Content/IMG_1845.jpg" width="750">
                    </div>

                    <div class="item">
                        <img src="~/Site Content/IMG_1764.JPG" width="750" height="250">
                    </div>
                </div>
                <!-- Left and right controls -->
                @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="fa fa-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="fa fa-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>*@
            </div>

        </div>
    </div>
    <br />
    <br />

    <!--Accordion containing FileStream panels-->
    <button class="accordion">QA Manual</button>
    <div class="panel">
        <ul class="list-unstyled">
            <li>@Html.ActionLink("QA Manual", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\QA Manual\QA Manual.pdf" })</li>
        </ul>
    </div>

    <button class="accordion">Quality Management Procedures</button>
    <div class="panel">
        <ul class="list-unstyled">
            <li>@Html.ActionLink("1.0-MgmtResponsibility", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\QMPs\QMP 1.0-MgmtResponsibility.pdf" })</li>
            <li>@Html.ActionLink("2.0-Order Review & Communication", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\QMPs\QMP 2.0-Order Review & Communication.pdf" })</li>
            <li>@Html.ActionLink("3.0-Doc Data & Control of Records", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\QMPs\QMP 3.0 -Doc Data & Contr of Records.pdf" })</li>
            <li>@Html.ActionLink("4.0-Operational Planning", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\QMPs\QMP 4.0-Operational Planning.pdf" })</li>
            <li>@Html.ActionLink("5.0-Purchasing", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\QMPs\QMP 5.0-Purchasing.pdf" })</li>
            <li>@Html.ActionLink("6.0-Mfg Process Control", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\QMPs\QMP 6.0-Mfg Process Control.pdf" })</li>
            <li>@Html.ActionLink("7.0-Monitor & Measure Device", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\QMPs\QMP 7.0-Monitor & Measure Device.pdf" })</li>
            <li>@Html.ActionLink("8.0-Quality Audits", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\QMPs\QMP 8.0-Quality Audits.pdf" })</li>
            <li>@Html.ActionLink("9.0-CorPrevContinual", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\QMPs\QMP 9.0-CorPrevContinual.pdf" })</li>
        </ul>
    </div>

    <button class="accordion">Work Instructions</button>
    <div class="panel">
        <ul class="list-unstyled">
            <li>@Html.ActionLink("221 - Appearance & Workmanship", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 221-Appearance & Workmanship Criteria.pdf" })</li>
            <li>@Html.ActionLink("222 - Appearance Standards - Painted Prod", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 222-Appearance Standards-Painted Prod.pdf" })</li>
            <li>@Html.ActionLink("223 - Appearance Standards - Anodized Prod", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 223-Appearance Standards-Anodized Prod.pdf" })</li>
            <li>@Html.ActionLink("224 - Material Handling Guidelines", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 224-Material Handling Guidelines.pdf" })</li>
            <li>@Html.ActionLink("225 - QA Method of Deter Sharpness of Edges", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 225-QA-Method of Deter Sharpness of Edges.pdf" })</li>
            <li>@Html.ActionLink("227 - Alloy Verif of Alum Billet", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 227-Alloy Verif of Alum Billet.pdf" })</li>
            <li>@Html.ActionLink("255 - Cosmetic Insp Criteria - Anod Conversion Coat", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 255-Cosmetic Insp Criteria-Anod Conversion Coat.pdf" })</li>
            <li>@Html.ActionLink("301 - QA-Tensile-Flare Testing", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 301-QA-Tensile-Flare Testing.pdf" })</li>
            <li>@Html.ActionLink("302 - Certification Requirements", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 302-Certification Requirements.pdf" })</li>
            <li>@Html.ActionLink("501 - Cleaning of EXT Dies", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 501-Cleaning of Ext Dies.pdf" })</li>
            <li>@Html.ActionLink("811 - Extrusion - Cut-to-size Operation", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 811-Extrusion-Cut-to-Size Operation.pdf" })</li>
            <li>@Html.ActionLink("812 - Extrusion - Press Operations", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 812-Extrusion-Press Operations.pdf" })</li>
            <li>@Html.ActionLink("813 - Extrusion - Stretching", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 813-Extrusion-Stretching.pdf" })</li>
            <li>@Html.ActionLink("814 - Extrusion - Die Header", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 814-Extrusion-Die Header.pdf" })</li>
            <li>@Html.ActionLink("815 - Extrusion - Heat Treating", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 815-Ext-Heat Treating.pdf" })</li>
            <li>@Html.ActionLink("816 - Extrusion - Die Order Prep", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 816-Ext-Die Order Prep.pdf" })</li>
            <li>@Html.ActionLink("817 - Extrusion - Incoming Insp - Verif of Alum Billet ", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 817-Extrusion-Incom Insp-Verif of Alum Billet.pdf" })</li>
            <li>@Html.ActionLink("819 - Extrusion - Incoming Tool Inspection", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 819-Ext-Incoming Tool Inspection.pdf" })</li>
            <li>@Html.ActionLink("820 - Extrusion - Hand Held Thermocouple Thermometer", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 820-Hand Held Thermocouple Thermometer.pdf" })</li>
            <li>@Html.ActionLink("821 - Fab - Saw Press Drill & Tap Oper", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 821-Fab-Saw Press Drill & Tap Oper.pdf" })</li>
            <li>@Html.ActionLink("822 - Computerized Numerical Control", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 822-Computerized Numerical Control.pdf" })</li>
            <li>@Html.ActionLink("823 - Fab - Deburr and Polishing", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 823-Fabrication-Deburr and Polishing.pdf" })</li>
            <li>@Html.ActionLink("910 - Preventative and Predictive Maint", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 910-Preventive and Predictive Maint.pdf" })</li>
            <li>@Html.ActionLink("1820 - OGP Vision System", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1820-OGP Vision System.pdf" })</li>
            <li>@Html.ActionLink("1821 - Prod Quality Audits and Sampling", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1821-Prod Quality Audits and Sampling.pdf" })</li>
            <li>@Html.ActionLink("1823 - Master List - Inspectors Stamp", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1823-Master List-Inspectors Stamp.pdf" })</li>
            <li>@Html.ActionLink("1826 - In-Process Anod & Conv Coating", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1826-In-Process Anod & Conv Coating.pdf" })</li>
            <li>@Html.ActionLink("1828 - Extrusion - Insp & Testing", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1828-Insp & Testing-Extrusion.pdf" })</li>
            <li>@Html.ActionLink("1829 - Fabrication - Insp & Testing", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1829-Insp & Testing-Fabrication.pdf" })</li>
            <li>@Html.ActionLink("1830 - Pre Control Charts", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1830-Pre-Control Charts.pdf" })</li>
            <li>@Html.ActionLink("1831 - Daily Verification of Zero Set Wizard", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1831-Daily Verification of Zero Set Wizard.pdf" })</li>
            <li>@Html.ActionLink("1832 - CMM DCC Daily Calib - Cleaning Req", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1832-CMMDCC Daily Calib-Cleaning Req.pdf" })</li>
            <li>@Html.ActionLink("1834 - Linear Surface Finish Measure", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1834-Linear Surface Finish Meas.pdf" })</li>
            <li>@Html.ActionLink("1837 - Insp Transaction to Proc Reciepts", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1837-Insp Transaction to Proc Receipts.pdf" })</li>
            <li>@Html.ActionLink("1838 - QA - Collecting Data with Datamytes", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1838-QA-Collecting Data with Datamytes.pdf" })</li>
            <li>@Html.ActionLink("1840 - QA - Tensile Cutting", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1840-QA-Tensile Cutting.pdf" })</li>
            <li>@Html.ActionLink("1841 - Die Shop - Hardness Verification", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1841-Die Shop-Hardness Verification.pdf" })</li>
            <li>@Html.ActionLink("1844 - Oliver Sample Saw Oper", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1844-Oliver Sample Saw Oper.pdf" })</li>
            <li>@Html.ActionLink("1845 - Band Saw Operation", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1845-Band Saw Operation.pdf" })</li>
            <li>@Html.ActionLink("1850 - QA - Honeywell Self Release", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\Work Instructions\WI 1850-QA-Honeywell Self Release.pdf" })</li>
        </ul>
    </div>
    <button class="accordion">Master List of Control Forms</button>
    <div class="panel">
        <ul class="list-unstyled">
            <li>@Html.ActionLink("Master List of Control Forms", "GetPDF", new { fileName = @"\\gei-file1\ISO-9001\CONTROL Forms\Master List of Control Forms.pdf" })</li>
        </ul>
    </div>
    <button class="accordion">GEI Specifications</button>
    <div class="panel">
        <ul class="list-unstyled">
            <li>@Html.ActionLink("GEI 001 Billet Spec", "GetPDF", new { fileName = @"\\gei-file1\PDFSpecs\GEISpecs\Extrusions\GEI001billetspec.pdf" })</li>
            <li>@Html.ActionLink("GEI 005 Aging / Surface Hardness", "GetPDF", new { fileName = @"\\gei-file1\PDFSpecs\GEISpecs\Extrusions\GEI005_Aging_Surface_Hardness.pdf" })</li>
        </ul>
    </div>
    <button class="accordion">External Specifications</button>
    <div class="panel">
        <ul class="list-unstyled">
            <li>@Html.ActionLink("External Specifications", "GetPDF", new { fileName = @"\\gei-file1\PDFSpecs\external spec\External Specs and Std List.pdf" })</li>
        </ul>
    </div>
    <button class="accordion">Customer Specifications</button>
    <div class="panel">
        <ul class="list-unstyled">
            <li>@Html.ActionLink("Customer Specifications", "GetPDF", new { fileName = @"\\gei-file1\PDFSpecs\CustomerSpecs\Customer Specs and Standard Listing.pdf" })</li>
        </ul>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //Set the carousel options
            $('#myCarousel').carousel({
                pause: true,
                interval: 9000,
            });
        });
    </script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
}
