﻿@model ExpenseClient.ViewModels.ExpenseViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<div class="page-header">
    <div class="content">
        <img src="~/Site Content/geiBrandBoot.png" alt="GEI" />
        <h3 style="text-align: left; color: blue">Expense Client</h3>
    </div>

</div>

@using (Html.BeginForm("Index", "Expense"))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="checkbox" style="padding-top:25px;">
                    <label>
                        @Html.CheckBoxFor(m => m.CashAdvance) Cash Advance
                    </label>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox" style="padding-top:25px;">


                </div>
            </div>
            <div class="col-sm-4">
                <div class="checkbox" style="padding-top:25px;">
                    <label>
                        @Html.CheckBoxFor(m => m.Reimburse) Reimburse
                    </label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.EmployeeName)
                    @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.EmployeeNum)
                    @Html.TextBoxFor(m => m.EmployeeNum, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" id="categoryid">
                    @Html.LabelFor(m => m.CategoryDropDownProperty)
                    @Html.DropDownListFor(m => m.categoryid, new SelectList(Model.CategoryDropDownProperty, "CategoryID", "Categoryname"), "Select ID", new { @id = "ID", @class = "form-control", onchange = "ShowDiv()" })


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" id="Amount">

                    @Html.LabelFor(m => m.Amount)
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Value = 0 })
                    @Html.ValidationMessageFor(m => m.Amount)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Attendees)
                    @Html.TextBoxFor(m => m.Attendees, new { @class = "form-control", @Value = 0 })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Place)
                    @Html.TextBoxFor(m => m.Place, new { @class = "form-control" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.PersonsEntertained)
                    @Html.TextBoxFor(m => m.PersonsEntertained, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Purpose)
                    @Html.TextBoxFor(m => m.Purpose, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" id="Mileage">
                    @Html.LabelFor(m => m.Mileage)
                    @Html.TextBoxFor(m => m.Mileage, new { @class = "form-control", @Value = 0 })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.ExpenseDate)
                    @Html.TextBoxFor(m => m.ExpenseDate, new { @class = "form-control", @Value = "01/01/2019" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.AdvanceAmt)
                    @Html.TextBoxFor(m => m.AdvanceAmt, new { @class = "form-control", @Value = 0 })
                </div>
            </div>
            <div class="col-sm-4" style="padding-top: 25px">
                <button type="submit" class="btn btn-primary btn-block" style="width: 280px;">Save &raquo;</button>
            </div>
        </div>
    </div>
}
<br />

<br />
<br />
<div class="container">



    <div style="text-align: center;">
        <h3 style="text-align: center; color: black;">Expenses for <strong style="color: blue;">@User.Identity.Name.Substring(9)</strong>:</h3>
        <h4 style="text-align: center; color: black;">Week:<strong style="color: blue;"> @DateTime.Now.Date.ToShortDateString()</strong></h4>

    </div>
    <a href="/ExpenseReporting/Report" class="btn btn-primary">Generate Report</a>
    <br />
    <br />
    <?PHP /* jQuery Datatables with inline button and jQuery scripts to execute CRUD */ ?>
    <div style="width:100%; margin:0 auto;">
        <table id="myTable" class="table table-striped table-row-border table-hover dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Mileage</th>
                    <th>Amount</th>
                    <th>Attendees</th>
                    <th>Place</th>
                    <th>Persons</th>
                    <th>Purpose</th>
                    <th>Reimburse</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
    <button type="button" href="#" data-toggle="tooltip" class="btn btn-dark"
            title="If no expenses appear in the table above, then you have no registered expenses for the current week.
            To edit or view previous expenses, please use the above navigation bar to go to previous expenses">
        Help
    </button>
</div>

<?PHP /* Modal1 pop-up which contains Partial1 form for Editing and submitting */ ?>

<div class="modal fade in" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Edit Expense</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">





            </div>


        </div>

    </div>

</div>


@*outside of container*@

@section Scripts{

    <script>

                //GET data for jQuery Datatables 
                $(document).ready(function () {

                    GetEmployeeRecord();
                })
                //GET data for jQuery Datatables
                var GetEmployeeRecord = function () {

                    $.ajax({

                        type: "Get",
                        url: "/Expense/LoadData",
                        success: function (response) {

                            BindDataTable(response);

                        }
                    })

                }

            //Fill Datatable with JSON response
            var BindDataTable = function (response) {

                $('#myTable').DataTable({
                    "data": response,
                    //searching: false,
                    "columns": [
                        { "data": "Mileage", "autoWidth": true },
                        { "data": "Amount", "autoWidth": true },
                        { "data": "Attendees", "autoWidth": true },
                        { "data": "Place", "autoWidth": true },
                        { "data": "PersonsEntertained", "autoWidth": true },
                        { "data": "Purpose", "autoWidth": true },
                        { "data": "Reimburse", "autoWidth": true },
                        {
                            "data": "Line",
                            "render": function (Line, type, full, meta) {
                                //return '<a class="btn btn-info" onclick="EditExpense(' + Line + ')">Edit</a>';
                                return '<a class="btn" onclick="EditExpense(' + Line + ')"><span class="glyphicon glyphicon-pencil" /></a>';
                            }

                        },
                        {
                            "data": "Line",
                            "render": function (Line, type, full, meta) {
                                //return '<a class="btn btn-danger" onclick="DeleteRow(' + Line + ')">Delete</a>';
                                return '<a class="btn" onclick="DeleteRow(' + Line + ')"><span class="glyphicon glyphicon-remove" /></a>';
                            }
                        }
                    ]

                });
            }

            //Execute edit, displays Modal1
            var EditExpense = function (line) {

                var url = "/Expense/EditExpense?Line=" + line;

                $("#myModalBodyDiv1").load(url, function () {

                    $("#myModal1").modal({ show: true });


                })

            }



            //Executes Delete where model.Line == Line
            function DeleteRow(Line) {
                if (confirm("Are you sure you want to delete this record..?")) {
                    $.ajax({

                        type: 'POST',
                        url: "/Expense/delete?Line=" + Line,
                        datatype: 'JSON',
                        success: function (response) {
                            if (response == "success") {

                                alert("Data deleted successfully..");
                                window.location.reload();
                                //$("#myModal").modal('hide');
                            }
                        },
                        error: function (msg) {
                            alert(msg.responseText);
                        }

                    });
                }
            }


            //f(x) to remove fade class on IE browsers
            $(function () {
                var isIE = window.ActiveXObject || "ActiveXObject" in window;
                if (isIE) {
                    $('.modal').removeClass('fade');
                }
            });

            //f(x) to hide DOM objects based on user selection
            function ShowDiv() {
                $("#categoryid").on("change", function () {
                    if ($("#categoryid option:selected").val() == 1) {
                        $("#Amount").hide();
                        $("#Mileage").show();
                    }
                    else {
                        $("#Amount").show();
                        $("#Mileage").hide();
                    }

                })
            };



    </script>

}




