﻿@model ExpenseClient.ViewModels.ExpenseViewModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<div class="content">

    <img src="~/Site Content/geiBrandBoot.png" />
    <h3 style="padding-right: 40px; color: blue;">Edit Previous Expenses</h3>

    @*<a href="#" id="btn" class="btn btn-warning btn-sm">Fill Table</a>*@
</div>



<br />
<br />

<!--Modal2 pop-up which contains Partial3 form data for datepicker-->
<div class="modal fade in" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Date</h3>
            </div>

            <div class="modal-body" id="myModalBodyDiv2">
                                             

            </div>


        </div>

    </div>

</div>

<!--Modal1 to inline edit expenses after datatables are filled-->
<div class="modal fade in" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Edit Expense</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">





            </div>


        </div>

    </div>

</div>
<div class="container">

    <a href="/ExpenseReporting/PreviousReports" class="btn btn-primary">Generate Report</a>
    <a href="#" id="btn" class="btn btn-warning">Fill Table</a>
    <br />
    <br />
    <!--jQuery Datatable-->
    <div style="width:100%; margin:0 auto;">
        <table id="myTabl" class="table table-striped table-hover table-row-border dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Mileage</th>
                    <th>Amount</th>
                    <th>Attendees</th>
                    <th>Place</th>
                    <th>Persons</th>
                    <th>Purpose</th>
                    <th>Reimburse</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{

    <script>

        $(function () {


            $("#btn").click(function () {


                //Load Modal2 to prompt user for date value

                var url = "/Expense/ModalPopUpp/";

                $("#myModalBodyDiv2").load(url, function () {

                    $("#myModal2").modal({ show: true });


                })

            });
        });
        //Fill Previous.cshtml datatable with JSON response from user input
        var BindMe = function (response) {

            $('#myTabl').DataTable({
                "datatype": "json",
                "data": response,
                "columns": [
                    { "data": "Mileage", "autoWidth": true },
                    { "data": "Amount", "autoWidth": true },
                    { "data": "Attendees", "autoWidth": true },
                    { "data": "Place", "autoWidth": true },
                    { "data": "PersonsEntertained", "autoWidth": true },
                    { "data": "Purpose", "autoWidth": true },
                    { "data": "Reimburse", "autoWidth": true },
                    {
                        "data": "Line",
                        "render": function (Line, type, full, meta) {
                            //return '<a class="btn btn-info" onclick="EditExpense(' + Line + ')">Edit</a>';
                            return '<a class="btn" onclick="EditExpense(' + Line + ')"><span class="glyphicon glyphicon-pencil" /></a>';
                        }

                    },
                    {
                        "data": "Line",
                        "render": function (Line, type, full, meta) {
                            //return '<a class="btn btn-danger" onclick="DeleteRow(' + Line + ')">Delete</a>';
                            return '<a class="btn" onclick="DeleteRow(' + Line + ')"><span class="glyphicon glyphicon-remove" /></a>';
                        }
                    }
                ]


            });
        }
        //Inline edit filled datatable => load Modal1
        var EditExpense = function (line) {

            var url = "/Expense/EditExpense?Line=" + line;

            $("#myModalBodyDiv1").load(url, function () {

                $("#myModal1").modal({ show: true });


            })

        }



        //Inline delete filled datatable where => m.line == Line
        function DeleteRow(Line) {
            if (confirm("Are you sure you want to delete this record..?")) {
                $.ajax({

                    type: 'POST',
                    url: "/Expense/delete?Line=" + Line,
                    datatype: 'JSON',
                    success: function (response) {
                        if (response == "success") {

                            alert("Data deleted successfully..");
                            window.location.reload();

                        }
                    },
                    error: function (msg) {
                        alert(msg.responseText);
                    }

                });
            }
        }
    </script>
}