﻿@model ExpenseClient.ViewModels.ExpenseReportingViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="content">
        <img src="~/Site Content/geiBrandBoot.png" alt="GEI" />
        <h3 style="text-align: left; color: blue">Expense Client</h3>
    </div>

</div>
