﻿
@{
    ViewBag.Title = "PreviousReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ReportViewerForMvc;

<div class="content">
    <div class="page-header">
        <div class="content">
            <img src="~/Site Content/geiBrandBoot.png" alt="GEI" />
            <h3 style="padding-right: 40px; color: blue;">Previously generated reports</h3>
            <a href="#" id="btn" class="btn btn-warning btn-sm">Fill Table</a>
        </div>

    </div>
</div>

<br />
<br />
<div class="modal fade in" id="myModal3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Date</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv3">





            </div>


        </div>

    </div>

</div>



        @section Scripts{

            <script>

                $(function () {


                    $("#btn").click(function () {

                        var url = "/ExpenseReporting/Modal/";

                        $("#myModalBodyDiv3").load(url, function () {

                            $("#myModal3").modal({ show: true });


                        })

                    });
                });

            </script>

        }
